#mainWrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(100,200,30);
}

#footer {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(30,200,100);
}

#cameraViewFrame {
  width: 533px;
  height: 300px;
  margin: auto;
  background-color: rgb(130,200,130);
}

#profileImage {
  object-fit: cover;
  margin: 10px;
  padding: 2px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgb(30,200,100);
}

#mapid {
  margin-top: 100px;
  position: static;
  height: 480px;
  width: 100%;
}

#verticalMenu {
  z-index: 9999;
  position: fixed;
  right: 0px;
  width: 200px;
  background-color: green;
}

.verticalMenuItem {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.verticalMenuItem:hover {
  background-color: white;
}
