#contentWrapper {
  overflow: hidden;
  min-height:75vh;
}

#header {
  margin-top: 5px;
  margin-bottom: 2vh;
}

#footer {
  height: 60px;
  background-color: rgb(146, 152, 133);
  margin-top: 20px;
}

#cameraViewFrame {
  width: 533px;
  height: 300px;
  margin: auto;
  background-color: rgb(146, 152, 133);
}

#mapid {
  height: 480px;
  min-height:90vh;
}
