{% extends "dashboard/base.html" %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<h3>Edit camera</h3>
<h4>{{ camera.label|title }}</h4>

<form action="{% url 'settingsMenuView' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" value="{{ camera.pk }}" name="camera_id">
	{% buttons %}
        <input type="submit" value="Submit">
	{% endbuttons %}
</form>

{% endblock content %}

