
{% load static %}

{% with location as location %}
	{% include "dashboard/header.html" %}
{% endwith %}

{% for camera in cameras %}
	<p>
		{{ camera.device_id }}:<br />{{ camera.label }}
		<a href="/settings/camera/{{ camera.device_id }}/">Settings</a>
		{% if camera.active %}
			<div>
				<iframe id="cameraViewFrame" src="/camera/{{ camera.device_id }}/"></iframe> <br />
			</div>
		{% else %}
			<div>
				Camera not active
			</div>
		{% endif %}
	</p>
{% endfor %}

{% include "dashboard/footer.html" %}