{% extends "dashboard/base.html" %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<h3>Edit location marker</h3>
<h4>{{ location.label|title }}</h4>

<form action="{% url 'editLocation' location.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
	{% buttons %}
    <div class="d-flex justify-content-around">
        <input class="col-4 btn btn-success" type="submit" value="Save">
        <a class="col-4 btn btn-danger" href="{% url 'deleteLocationView' location.id %}">
            Delete
        </a>
    </div>
	{% endbuttons %}
</form>

{% endblock content %}
