{% with location as location %}
  {% include "dashboard/header.html" %}
{% endwith %}

<br /><img id="profilePicture" src="/media/{{ profile.image }}" />
<br />{{ profile.name }} <a href="/ep/{{ profile.id }}/">(edit)</a>
<br />
<table>
  <th>Camera ID</th>
  <th>Direction</th>
  <th>Note</th>
  <th>Active</th>

  {% for camera in cameras %}
  <tr>
    <th>{{ camera.device_id }}</th>
    <td>
      {{ camera.direction }}
    </td>
    <td>
      {{ camera.note }}
    </td>
    <td>
      {{ camera.active }}
    </td>
  </tr>
  {% endfor %}

</table>

<table>
  <tbody>
    <tr>
      <th>Marker label</th>
      <th>Note</th>
      <th>Type</th>
      <th>Location</th>
    </tr>
    {% for marker in waypoints %}
      <th>
        {{ marker.label }}
      </th>
      <td>
        {{ marker.note }}
      </td>
      <td>
        {{ marker.location_type }}
      </td>
      <td>
        {{ marker.prettyCoords }}
      </td>
    {% endfor %}
  </tbody>
</table>
{% include "dashboard/footer.html" %}

