{% extends "dashboard/base.html" %}
{% block content %}
  {% if profile %}
      Profile id: {{ profile.id }} <a href="/ep/{{ profile.id }}">(edit)</a><br />
      Name: {{ profile.name }} <br />
      Image: /media/{{ profile.image }} <br />
      <a href="/camera/0/" />Camera</a>
      <br />
      <img src="/media/{{ profile.image }}" /> <br />
      <iframe src="/camera/0/"></iframe>
      <a href="/camera/0/">
        Play
      </a>
  {% else %}
      <p>No profile found with this ID</p>
  {% endif %}
{% endblock %}
