{% with location as location %}
	{% include "dashboard/header.html" %}
{% endwith %}
{% load bootstrap_icons %}

<h4>
	{{ profile.name }}
</h4>

<a href="/ep/{{ profile.id }}/">{% bs_icon 'gear' %}</a>
<img id="profilePicture" src="/media/{{ profile.image }}" />

<table class="table">
	<thead>
		<tr>
			<th>Camera</th>
			<th>Direction</th>
			<th>Note</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for camera in cameras %}
			<tr>
				<th>
					{{ camera.label }}
				</th>
				<td>{{ camera.direction }}</td>
				<td>{{ camera.note }}</td>
				<td>
					{% if camera.active %}
						{% bs_icon 'camera-video' size='1.5em' color="green" %}
					{% else %}
						{% bs_icon 'camera-video-off' size='1.5em' color="grey" %}
					{% endif %}
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th>Marker</th>
			<th>Note</th>
			<th>Type</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		{% for marker in waypoints %}
			<tr>
				<th>
					{{ marker.label }}
				</th>
				<td>{{ marker.note }}</td>
				<td>{{ marker.location_type }}</td>
				<td>{{ marker.prettyCoords }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% include "dashboard/footer.html" %}

