{% extends "dashboard/base.html" %}

{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="container-lg d-flex justify-content-center">

<h3>
	Select profile
</h3>

{% if profiles %}
  <ul>
	  {% for profile in profiles %}
	  <li>
			<img id="profilePicture" src="/media/{{ profile.image }}" />
			<a href="{% url 'profile' profile.id %}">{{ profile.name }}</a>
		</li>
		{% endfor %}
  </ul>
{% else %}
    <p>
      No profiles available.<br />
      Create new profile in admin view
    </p>
{% endif %}

</div>

{% endblock content %}

